<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iflytek.ucenter.mapper.MooccoursepageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.iflytek.ucenter.model.po.Mooccoursepage">
        <id column="ObjectID" property="objectid" />
        <result column="BusinessID" property="businessid" />
        <result column="Title" property="title" />
        <result column="Content" property="content" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ObjectID, BusinessID, Title, Content
    </sql>

</mapper>
