<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iflytek.ucenter.mapper.MoocquestionoptionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.iflytek.ucenter.model.po.Moocquestionoption">
        <id column="ObjectID" property="objectid" />
        <result column="MoocQuestionID" property="moocquestionid" />
        <result column="Name" property="name" />
        <result column="Content" property="content" />
        <result column="IsCorrect" property="correct" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ObjectID, MoocQuestionID, Name, Content, IsCorrect
    </sql>

</mapper>
